.error {
  background-color: rgb(200, 16, 46);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  width: 100%;
  display: flex;
}

.error .icon {
  font-size: 2rem;
}

.error .message {
  font-size: 1.2rem;
  margin-top: 0.6rem;
  margin-left: 0.5rem;
}
