.season-list-item {
  margin: 0.5rem 0;
}

.season-list-item .title-box {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.season-list-item .title-box:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.season-list-item .title-box .label,
.season-list-item .title-box .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 1rem;
}

.season-list-item .title-box .label {
  min-width: 50px;
  text-align: center;
}

.season-list-item .title-box .title {
  flex-grow: 1;
}

.season-list-item .title-box .status {
  min-width: 150px;
  text-align: center;
  margin: 0 1rem;
}

.season-list-item .detail-box {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-left: calc(50px + 3rem);
  font-size: 1.2rem;
}

.season-list-item .detail-box.hide {
  display: none;
}

.season-list-item .detail-box .detail-item.button-box {
  margin-top: 0.5rem;
}

.season-list-item .detail-box .detail-item.button-box button {
  width: 150px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.season-list-item .detail-box .detail-item.button-box button:hover {
  cursor: pointer;
}

.season-list-item .detail-box .detail-item.button-box button.normal {
  background: white;
  color: red;
}

.season-list-item .detail-box .detail-item.button-box button.danger {
  background: red;
  color: white;
}

@media screen and (max-width: 400px) {
  .season-list-item .title-box .status {
    display: none;
  }
  .season-list-item .detail-box {
    padding-left: 1rem;
  }
}
