@import "../../card/Card/Card.css";

.card-input .card:hover {
  cursor: pointer;
}

.card-input #card-text:empty {
  line-height: 420%;
}

.card-input #card-text:empty::before {
  content: attr(placeholder);
  color: rgba(255, 255, 255, 0.5);
}

.card-input .white#card-text:empty::before {
  content: attr(placeholder);
  color: rgba(200, 0, 0, 0.5);
}
