.choice {
  width: 100%;
  display: flex;
  align-items: stretch;
  background: transparent;
  border-radius: 10px;
}

.choice .option {
  width: 100%;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  font-size: 1.2rem;
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in;
}

.choice .option label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
}

.choice .option:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.choice input[type="radio"] {
  display: none;
}

.choice input[type="radio"]:checked + label {
  background-color: var(--secondary);
  color: var(--primary-text);
}

.choice label:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .choice {
    width: 100%;
    flex-direction: column;
  }
  .choice .option {
    flex-direction: column;
  }
}
